@model IEnumerable<StackUnderFlow.Entities.Comment>

@{
    ViewData["Title"] = "GetComments";
}

<h2>GetComments</h2>

<p>
    <a asp-action="CreateComment" asp-route-id="@ViewData["ResponseId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inappropriate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th>
                <p>Actions</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inappropriate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response.Id)
            </td>
            <td>
                @Html.ActionLink("UpVote", "EditCommentVotes", "Comments", new { commentId = item.Id, command = "upvote" }, null)
                @Html.ActionLink("DownVote", "EditCommentVotes", "Comments", new { commentId = item.Id, command = "downvote" }, null)
                @Html.ActionLink("Mark Innappropriate", "EditCommentVotes", "Comments", new { commentId = item.Id, command = "innappropriate" }, null)
            </td>
            <td>
                <a asp-action="EditComment" asp-route-commentId="@item.Id">Edit</a> |
                <a asp-action="GetCommentById" asp-route-commentId="@item.Id">Details</a> |
                <a asp-action="DeleteComment" asp-route-commentId="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
