@model IEnumerable<StackUnderFlow.Entities.Response>

@{
    ViewData["Title"] = "GetResponses";
}

<h2>Responses</h2>

<p>
    <a asp-action="CreateResponse" asp-route-id="@ViewData["QuestionId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inappropriate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.Title)
            </th>
            <th>
                <p>Actions</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inappropriate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Title)
            </td>
            <td>
                @Html.ActionLink("UpVote", "EditResponseVotes", "Responses", new { id = item.Id, command = "upvote" }, null)
                @Html.ActionLink("DownVote", "EditResponseVotes", "Responses", new { id = item.Id, command = "downvote" }, null)
                @Html.ActionLink("Mark Innappropriate", "EditResponseVotes", "Responses", new { id = item.Id, command = "innappropriate" }, null)
                @Html.ActionLink("Mark Solution", "MarkSolution", "Responses", new { responseId = item.Id }, null)
            </td>
            <td>
                <a asp-action="EditResponse" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="GetResponsebyId" asp-route-id="@item.Id">Details</a> |
                @Html.ActionLink("Delete", "DeleteResponse", "Responses", new { id = item.Id }, null)
                <a asp-action="GetComments" asp-route-id="@item.Id" asp-controller="Comments">Comments</a>
            </td>
        </tr>
}
    </tbody>
</table>
